/* main.css */

main {
	width: 800px;
	margin: 0 auto;
}

main > header {
	width: 800px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #CCC;
	
	font-size: 3rem;
	font-weight: bold;
}

main > section {
	
}
