<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.test.spring.FileDTO" alias="fdto" />
		<typeAlias type="com.test.spring.BoardDTO" alias="bdto" />
	</typeAliases>

</configuration>