
/* toy.css */


@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, div, span, th, td, li, input, textarea, select, header, section, nav, h1, h2, h3 {
	font-family: 'CookieRun-Regular';
}


html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #CCC;
}

main {
	
	width: 800px;
	margin: 0 auto;
	height: 100%;
	box-shadow: 0px 0px 3px #999;
	background-color: white;
	
}

main > header {
	height: 120px;
	border-bottom: 1px solid #AAA;
	position: relative;
	left: 0;
	top: 0;
}

main > header > h1 {
	
	margin: 0;
	padding: 40px 0 0 30px;
	font-variant: small-caps;
	
}

main > header > nav {
	
	position: absolute;
	right: 10px;
	bottom: 5px;
	
}

main > header > nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;	
}

main > header > nav > ul > li {
	margin: 0 5px;
}




main > section {
	
	padding-left: 15px;
	padding-right: 15px;
	
}

main > section > h2 {
	
	margin-bottom: 15px;
	
}

.form-control.short {
	width: 100px;
}

.form-control.middle {
	width: 250px;
}

.table.vertical th {
	width: 120px;
	text-align: center;
	vertical-align: middle;
}



a {
	color: #333;
}

a:hover {
	text-decoration: none;
	color: cornflowerblue;
}



































