<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf</title>
<link rel="stylesheet" href="/css/mvp.css">
</head>
<body>
<main>
	
	<!-- m12.html -->
	<h1>Thymeleaf</h1>
	
	<!--  
	
		Thymeleaf Expression Basic Objects, 기본 객체
		- 일부분 == JSP 내장 객체
		
		- ${#request}
		- ${#response}
		- ${#locale}
		- ${#session}
		- ${#servletContext} > application	
	
	-->
	
	<h2>Basic Object</h2>
	
	<div>request: <th:block th:text="${#request}"></th:block> </div>
	<div>response: <th:block th:text="${#response}"></th:block> </div>
	<div>locale: <th:block th:text="${#locale}"></th:block> </div>
	<div>session: <th:block th:text="${#session}"></th:block> </div>
	<div>servletContext: <th:block th:text="${#servletContext}"></th:block> </div>
	
	<hr>
	
	<div th:if="${session.auth != null}">
		인증: <th:block th:text="${session.auth}"></th:block>
	</div>
	
	<div th:unless="${session.auth != null}">
		미인증
	</div>
	
	<hr>
	
	<!-- 
		QueryString
		- http://localhost:8090/m12?seq=123
	-->
	<div th:text="${param.seq}"></div>
	
</main>
</body>
</html>


















