<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/mvp.css">
</head>
<body>

<main>
	<!-- m3.html -->
	<h1>Thymeleaf</h1>
	
	<!--  
	
		Thymeleaf Standard Expression, 타임리프 표현식
		
		1. Variable Expressions, 변수 표현식
			- ${}
			- 컨트롤러부터 전달된 값을 출력한다.
			- JSP의 EL과 유사 > SpringEL
		
		2. Selection Variable Expressions, 선택 변수 표현식
			- *{}
			- 객체/맵 프로퍼티를 출력한다.
		
		3. Message Expressions, 메시지 표현식
			- #{}
			- 스프링 메시지를 출력한다.
		
		4. Link URL Expressions, 링크 주소 표현식
			- @{}
			- 링크의 URL을 출력한다.
		
		5. Fragment Expressions, 조각 표현식
			- ~{}
			- 조각 페이지를 삽입한다.
			
	-->
	
	<h2>변수 표현식</h2>
	
	<div>${num}</div>
	<div th:text="${num}"></div>
	<div th:text="100"></div>
	
</main>	

</body>
</html>




















